{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>MEMASAK</h1>
    </center>
    
    <h2>Nasi Goreng</h2>

    {% for judul in title %}
       <li>{{ judul }}</li> 
    {% endfor %}

    {{ penulis }}

{% endblock %} 
