{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FAVORITE</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" 
  <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>

  {% block content %} 
  {% endblock %}
  
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>